@-moz-document domain("teamfortress.tv") {
:root {
    --bgcolour: #232529;
    --mgcolour: #2f3337;
    --fgcolour: #40474f;
    --nbcolour: #363636;
    --sbcolour: #394046;
    --sbcolour2: #eaeaea;
    --sbhover: #434A51;
    --sbtitle: #e3e3e3;
    --hlcolour: #3e92da;
    --textcolour: #c1c1c1;
    --textcolour2: #d4d4d4;
    --sbtextcolour: #b4b4b4;
    --tablebgcolour: #40474f;
    --transparent: #0000;
    --article: #40474f;
    --upvote: #76bc87;
    --downvote: #c76b6b;
    --redteam: #c64446;
    --blueteam: #5885a2;
    --tableheader: #2e506b;
    --tf2stream: #2e3338;
    --tf2streamborder: #41474f;
    --postheader: #394046;
    --postbg: #40474f;
    --postinner: #ccc;
    --border: #5b6167;
    --linkcolour: #9ccbe2;
    --btncolour: #394046;
    --btnaccent: #454c54;
    --btncolour2: #40474f;
    --fragcount: #22262a;
    --bordercolour: #5b6167;
    --searchbg: #535c65;
    --textarea: #40474f;
    --textareafocus: #40474f;
    --dropdown: #313131;
    --dropdownhover: #444444;

    --tftv-bg: /*[[bg1]]*/;
    /* default: #232529 */
    --tftv-fg: /*[[bg2]]*/;
    /* default: #34363d */
    --tftv-hover: /*[[bg3]]*/;
    /* default: #3E4047 */
    --tftv-other: /*[[bg4]]*/;
    /* default: #494b52 */
    --tftv-highlight: /*[[bg5]]*/;
    /* default: #3e92da */
    --tftv-text: /*[[bg6]]*/;
    /* default: #c1c1c1 */
    --tftv-text-secondary: /*[[bg7]]*/;
    /* default: #808080 */
    --tftv-text-highlight: /*[[bg8]]*/;
    /* default: #FFF */
    --tftv-text-groupplus: /*[[bg9]]*/;
    /* default: #00bbff */
    --tftv-text-live: /*[[bg10]]*/;
    /* default: #15bb20 */
    --tftv-team-red: /*[[bg11]]*/;
    /* default: #c64446 */
    --tftv-team-blu: /*[[bg12]]*/;
    /* default: #5885a2 */
    --tftv-box-shadow: rgba(0, 0, 0, 0.4);
    --tftv-text-shadow: rgba(0, 0, 0, 0.04);

    --tftv-lighten: rgba(250, 250, 250, 0.02);
    --tftv-darken: rgba(0, 0, 0, 0.04);
}
.game-switch {
    border: 0;
}
.tablesorter-header-inner {
    padding-left: 8px;
    color: var(--textcolour2);
}
.game-stats tr td {
    background: var(--btncolour);
    color: var(--textcolour);
    border: 0;
    padding: 0px 0px;
}
tr.tablesorter-headerRow {
    background: transparent !important;
}
.game-stats th {
    border: 0;
}
.game-stats .class {
    border: 0;
}
.game-stats .damage {
    border: 0;
}
.game-stats .deaths {
    border: 0;
}
.game-stats .heals {
    border: 0;
}
.tablesorter-header-inner {
    border: 0;
}
.game-stats tr.odd td {
    background: var(--colour);
    color: var(--textcolour);
}
.game-stats-container table:nth-child(3) > thead:nth-child(1) {
    background: var(--redteam) !important;
}
.game-stats-container table:nth-child(4) > thead:nth-child(1) {
    background: var(--blueteam) !important;
}
.game-stats .player {
    border: 0;
}
td.player {
    padding-left: 6px !important;
}
.game-switch.active {
    box-shadow: 0 2px 10px rgba(0, 0, 0, 0.4) !important;
    background: var(--article);
    border-top-width: 2px;
    border-top-style: solid;
    border-top-color: #4c545d;
}
.game-switch.active::after {
    background: var(--article);
}
/*.game-switch.active::before{
    content: '';
    background: #4c545d;  
    display: block;
    height: 1px;
    width: 100%;  
}*/
.vod-btn:hover,
.vod-btn-spoiler:hover {
    border: 0;
    box-shadow: 0 2px 6px rgba(0, 0, 0, 0.4) !important;
    background: var(--btncolour);
}
.vod-btn,
.vod-btn-spoiler {
    color: var(--textcolour2);
    background: var(--fgcolour);
}
html {
    font-family: 'Roboto', sans-serif;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    background: var(--bgcolour);
    color: var(--fgcolour);
}
a {
    font-size: 13px;
    font-style: normal;
}
.module {
    border: 0;
    background: var(--transparent);
}
div #content {
    font-family: 'Roboto', sans-serif;

    color: #333;
    border: 0;
}
#wrapper {
    background-color: var(--mgcolour);
    background: var(--mgcolour) !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
a.main-feature {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.header {
    background: var(--nbcolour);
    background-color: var(--nbcolour);
    z-index: 1;
}
.footer {
    z-index: 1;
}
div.header-nav-item {
    padding-top: 6px;
}
.header-nav-container {
    background: var(--nbcolour);
    background-color: var(--nbcolour);
    height: 50px;
}
/* TODO */
div.post::before {
    content: '';
    background: var(--btnaccent);
    display: block;
    height: 1px;
    width: 100%;
}

.thread-frag-btn.plus.clicked {
    border: 0;
}
.thread-frag-btn.plus.clicked #thread-frag-count {
    border: 0;
}
.thread-frag-btn.minus.clicked {
    border: 0;
}
.header-nav-container-inner {
    height: 50px;
}
.header-nav-item {
    height: 50px;
    padding: 0px 15px;
}
.header-nav {
    height: 50px;
    width: 1198px;
    margin-left: -1px;
}
.header-banner {
    height: 0;
}
.header-nav-item-wrapper::before {
    height: 51px;
}
.header-nav-item-wrapper.mod-last::after {
    height: 51px;
}
i.fa.fa-home {
    width: 220px;
    height: 40px;
    color: var(--transparent);
    text-shadow: 0 0 0 var(--transparent);
    background: url(https://raw.githubusercontent.com/fakemanoan/TFTV-Stylus-Theme/main/tftv.svg) no-repeat;
    background-size: 100% 100%;
    padding-top: 15px;
    margin-top: -3px;
}
.header-logo {
    height: 0;
}
div#content {
    background-color: var(--mgcolour);
    background: var(--mgcolour) !important;
    padding: 0;
}
tr {

    background: var(--tablebgcolour) !important;
}
.server-table td {
    font-size: 11px;
}
td {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
#article-wrapper {
    margin-top: -20px;
    padding: 0px 30px;
    padding-bottom: 12px;
    box-shadow: 0 2px 4px 1px rgba(0, 0, 0, 0.2);
    background: var(--fgcolour);
}
#main-feature img {
    width: 88%;
    height: 88%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
#main-feature-caption {
    width: 88%;
    margin-top: -60px;
    height: 61px;
    position: absolute;
    background: #00000091;
}
#main-feature-title-wrapper {
    color: var(--textcolour2);
    font-size: 18px;
    text-shadow: -1px 0px 3px #000000d1,
    1px 0px 3px #000000d1,
    1px 0px 3px #000000d1,
    -1px 0px 3px #000000d1;
}
img {
    background: var(--mgcolour);
}
#main-feature-desc {
    color: var(--textcolour2);
    text-shadow: -1px 0px 2px #000000d1,
    1px 0px 2px #000000d1,
    1px 0px 2px #000000d1,
    -1px 0px 2px #000000d1;
}
#main-feature-mask {
    width: 88%;
    height: 75%;
}
.sub-feature-caption {

    height: 89px;
    width: 270px;
    margin-left: 158px;
    padding: 20px;
    font-weight: normal;
    margin-top: -89px;
}
.sub-feature img {
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}
.sub-feature-title {
    font-size: 15px;
    color: #c1c1c1;
    height: 0px;
    white-space: normal;
}
.sub-feature-mask {
    width: 160px;
    right: -154px;
    top: 13px;
    height: 90px;
}
.sub-feature {
    text-align: left;
    float: none;
}
.sub-feature:hover {
    text-align: left;
    float: none;
    background: red;
}
.sub-feature.first {
    margin-left: 5px;
}
#article-list ul {}
#article-list li {
    height: 50px;
    border-bottom: 1px solid var(--bordercolour);
    margin-left: -10px;
    margin-right: -10px;
    padding-left: 15px;
    padding-top: 10px;
}
#article-list li:hover {
    background: var(--btncolour);
}
#article-list a {
    color: var(--textcolour2) !important;
    font-weight: 500;
    padding: 0;
}
#features-container {
    width: 425px;
}
div#article-list {
    width: 325px;
    height: 551px;
    right: 0px;
    position: absolute;
    background: var(--article);
}
div {
    color: var(--textcolour);
}
span {}
.form-label {
    padding-top: 5px;
    color: var(--textcolour2);
}
.form-hint {

    padding-bottom: 2px;
}
select {
    margin-bottom: 2px;
}
span.news-item-title {
    font-weight: 600;
}
span.news-item-txt-container {
    width: 251px;
    height: 100%;
}
span.news-item-meta {}
span.news-item-count-num {
    color: var(--textcolour);
    font-weight: normal;
}
span.news-item-count {
    float: right;
    margin: 0;
    background: var(--transparent);
}
a.module-item.mod-featured {
    background: var(--tf2stream);
    border-left: solid 3px var(--hlcolour)!important;
    border-bottom: solid 1px var(--tf2streamborder);
    /* inset box shadow */
}
a:link,
a:visited,
a:active {
    color: var(--linkcolour);
}
a.stream-box {}
.module-header {
    background: var(--transparent) !important;
    background-color: var(--transparent) !important;
    height: 30px;
    text-align: left;
    padding-left: 3px;
    border-bottom: 0px !important;
    box-shadow: 0 0 0 0;
}
module-header:hover {
    background: var(--transparent) !important;
    background-color: var(--transparent) !important;
    height: 30px;
    text-align: left;
    padding-left: 3px;
    border: 0;
    border-bottom: 0px !important;
    box-shadow: 0 0 0 0;
}
#h-s-header {
    background: var(--tableheader);
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
#schedule-table td:first-child {
    color: var(--textcolour2);
    border-left: 1px solid #5b6167;
    border-right: 1px solid #5b6167;
}
#schedule-table td:nth-child(2) {
    color: var(--textcolour2);
    border-right: 1px solid #5b6167;
}
.list-table td {
    color: var(--textcolour2);
    border-left: 1px solid #5b6167 !important;
    border-right: 1px solid #5b6167 !important;
    border-bottom: 1px solid #5b6167 !important;
}
.list-table tr:last-child td:last-child {
    border-bottom: 1px solid #5b6167;
}

#schedule-table td:first-child {
    border-bottom: 1px solid #5b6167;
}
#gallery-name {
    color: var(--textcolour2);
}
#schedule-table td {
    border-bottom: 1px solid #5b6167;
    border-right: 1px solid #5b6167;
}
.list-table td {
    border-bottom: 1px solid #5b6167;
}
.module-filter-menu {
    line-height: 14px;
    font-size: 15px;
    background: var(--fgcolour);
    color: var(--textcolour2);
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    border-bottom: 0;
}
#event-info .event-section {
    border-right: 0;
    background-color: var(--sbcolour);
}
#event-desc {
    border-top: 0;
    background-color: var(--tablebgcolour);
}
a.module-header {
    color: var(--sbtitle) !important;
    font-size: 12px;
}
a.module-item {
    line-height: 22px;
    background: var(--sbcolour);
    border-bottom: 1px solid #4c545d;
    box-shadow: 0px 1px 2px 1px rgba(0, 0, 0, 0.4);
}
a.module-item:hover {
    line-height: 22px;
    background: var(--sbhover);
    border-bottom: 1px solid #4c545d;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
a.module-item > :first-child {
    border-radius: 3px;
}
e-item.mod-last:hover {
    border-radius: 0;
    border-bottom: 0;
}
.thread-header-title {
    color: var(--textcolour2);
    display: flex;
    padding-left: 25px;
    padding-top: 18px;
}
.thread-header-desc {
    color: var(--textcolour);
    display: block;
    padding-left: 25px;
    padding-bottom: 22px;
}
div#thread-list {
    width: 760px;
    background: var(--fgcolour);
    padding: 0px 0px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    border: 0;
}
div.thread-inner {
    padding: 1px 7px;
    border-top: 1px solid var(--bordercolour);
}
.action-container {
    margin-top: 2px;
}
div.thread {
    min-height: 56px;
    height: auto;
    margin-bottom: 0px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
    color: var(--textcolour2);
}
div.thread:hover {
    background: var(--searchbg);
}
div.blockr.pages {
    font-size: 12px;
    width: 150px;
    border: 0;
    margin-top: 5px;
    color: var(--textcolour);
}
.blockr.pages .post-count {
    color: var(--textcolour);
}
.block.frag .frag-count {
    color: var(--sbtextcolour);
}
.thread-frag-btn.plus #thread-frag-count {
    background: var(--fragcount);
}
div.blockr.last-info {
    font-size: 12px;
    border: 0;
    margin-top: 5px;
    padding-right: 6px;
    height: 100% !important;
}
div.post-body {
    color: var(--textcolour2) !important;
}
div.post-footer {
    background: var(--postbg);
    color: var(--sbtextcolour);
    border: 0;
}
.btn,
a.btn {
    font-weight: 500;
    height: 42px;

    line-height: 42px;
    font-size: 11px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4) !important;
    border-radius: 3px;
    border: 0 !important;
    background: var(--btncolour);
    color: var(--textcolour2);
    position: relative;
}
.btn:not(.clicked):not(:active)::before {
    background: var(--btnaccent) !important;
    top: 0px;
    left: 1px;
    height: 1px;
    width: calc(100% - 2px);
    position: absolute;
    content: '';
    border-top-left-radius: 3px;
    border-bottom-right-radius: 3px;
}
.tab-opt.active,
.tab-opt:active {
    font-weight: normal;
}
.thread-frag-btn.plus.clicked:hover {
    background: #78b186;
}
.thread-frag-btn.minus.clicked:hover {
    background: #b36060;
}
.btn.is-clicked {
    background: var(--btncolour) !important;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25) !important;
}
.btn.is-clicked:hover {
    background: var(--btncolour2) !important;
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25) !important;
}
.btn:focus:hover {
    background: var(--btncolour) !important;
}
.btn.is-clicked::before {
    width: 0;
}
.btn:not(.mod-active):active {
    background: var(--btncolour2);
}
.btn.mod-action:hover,
.btn.mod-action:focus {
    background: var(--btncolour);
}
.btn.mod-action {
    background: var(--btncolour);
    color: var(--textcolour2);
}
.btn.mod-active:hover {
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25) !important;
}
.btn:hover:active {
    box-shadow: inset 0 0 1px 1px rgba(0, 0, 0, 0.25) !important;
}
.btn:hover {
    background: var(--btncolour2);
}
.btn:not(.mod-active):hover {
    background: var(--btncolour2);
}
.btn.mod-active {
    background: var(--btncolour2);
}
.btn.mod-action {
    border: 0;
}
.btn.mod-action:hover,
.btn.mod-action:focus {
    border: 0;
}
div.post {
    background: var(--postbg);
}
.list-table th {
    background: var(--tableheader);
    font-size: 12px;
}
table.list-table {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
.forum-group-header {
    color: var(--textcolour);
}
.forum-header {
    color: var(--textcolour);
    padding: 15px;
    padding-bottom: 7px;
}
.block.sub {
    padding-left: 6px;
}
.sub-btn {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
}
.sub-btn.active {
    background: transparent;
    border: 0;
    box-shadow: 0 0 0;
    border-radius: 0;
}
i.fa-check {
    text-shadow: -1px 0px 1px #00000029,
    1px 0px 1px #00000029,
    1px 0px 1px #00000029,
    -1px 0px 1px #00000029;
}
div.forum-container {
    background: var(--fgcolour);
    width: 100%;
    margin-left: 0;
    margin-top: 0;
    padding: 0px;
    padding-bottom: 3px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
div.subforum {
    margin: 0px;
    height: 60px;

    border-top: 1px solid var(--border);
    font-size: 12px;
}
div.subforum:hover {
    background: var(--searchbg);
}
a.subforum-title {
    font-size: 14px;
}
div.blockr.last-info {
    width: 140px;
    padding-top: 4px;
}
span.js-date-toggle {
    padding-top: 2px;
}
div.subforum.first {
    margin-top: 2px;
}
input[type="text"],
input[type="search"],
select,
textarea {
    margin-bottom: 0;
}
span.module-item-flag {
    margin-top: 7px;
}
span.module-item-title {
    font-size: 11px;
    color: var(--sbtextcolour) !important;
}
span.module-item-title-sub {
    color: var(--sbtextcolour);
}
.module-item.mod-divider {
    border-bottom: 0;
}
.stream-name {
    color: var(--sbtextcolour);
}
.stream-title {
    color: var(--sbtextcolour);
}
.card {
    background: var(--article);
    border: 0;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}
span.module-item-icon {
    margin-top: 7px;
}
span.module-item-status {
    margin-top: 7px;
}
div.post-header {
    background: var(--postheader);
    color: var(--textcolour2);
    height: 35px;
    padding-top: 11px;
}
a.post-author {
    color: var(--textcolour);
    font-weight: 500;
    font-size: 12px;
}
a.post-action {
    font-size: 11px;
}
div.post {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 9px;
}

.post-body p {
    color: var(--textcolur2);
}
.post-body q {
    border: 0;
    border-left: 2px solid var(--textcolour);
    color: var(--textcolour);
    background: var(--btncolour);
}
div#thread-container {
    border: 0;
}
#post-editor {
    color: var(--textcolour2);
    border: 1px solid var(--bordercolour);
    background: var(--textarea2)
}
#post-editor.is-focused {
    border: 1px solid white;
}
#post-editor-header {
    background: var(--postheader);
    color: var(--textcolour2);
}
#post-editor-text {
    color: var(--textcolour2);
}
/*div#article-wrapper {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    padding-top: 1px;
}
*/
.thread-header-desc a {
    font-weight: 500;
}
div.thread-header {
    background: var(--fgcolour);
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    height: auto;
    min-height: 84px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}
div.thread-header::before {
    content: '';
    background: #4c545d;
    display: block;
    height: 1px;
    width: 100%;
}
div.thread.first::before {
    content: '';
    background: #4c545d;
    display: block;
    height: 1px;
    width: 100%;
}
#event-container.card::before {
    content: '';
    background: #4c545d;
    display: block;
    height: 1px;
    width: 100%;
}
.clearfix {
    margin-bottom: 10px !important;
}
.block.main {
    padding-top: 1px;
}
.block.main .tag {
    float: none;
    font-size: 10px;
    text-transform: uppercase;
    padding-right: 0px;
    padding-top: 2px;
}
.block.main .tag::after {}
.block.main .description {
    padding-bottom: 13px;
}
.header-banner-inner {
    height: 0;
}
.block.main .title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
    display: inline-block;
    padding-top: 1px;
}
.block.frag {
    margin-top: 5px;
}
.group-plus {}
.module-item-count {
    font-size: 12px;
}
.profile-table td {
    color: var(--textcolour2) !important;
}
input[type="text"],
input[type="search"],
select,
textarea {
    background: var(--textarea);
    border: 1px solid #535c65;

    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.5);
}
textarea:focus {
    background: var(--textareafcous)
}
#post-editor-header-preview,
#post-editor-header-edit {
    background: var(--mgcolour) !important;
}
#search-bar {
    color: var(--textcolour2)
}
#search-bar:focus {
    background: var(--mgcolour)
}
.post-body code {
    color: var(--textcolour);
    background: var(--btncolour);
}
span.tag::after {
    content: '\A';
    white-space: pre;
}
.filter-menu {
    background: var(--dropdown);
    border: 0;
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.2);
    border-radius: 2px;
    width: auto;
    height: auto;
    padding: 5px 0;
}
.filter-menu a {
    line-height: 1;
    padding: 10px 15px;
    font-size: 11px;
}
.filter-menu a:hover {
    background: var(--dropdownhover);
    line-height: 1;
    padding: 10px 15px;
    font-size: 11px;
}

.vs-info {
    color: var(--textcolour);
}
#features-container a:hover .card {
    background: var(--btncolour);
}
.post-editor-header-action.hover {
    color: var(--textcolour);
}
.gallery-info {
    background: var(--fgcolour);
    color: var(--textcolour);
    box-shadow: 0 0.5px 2px rgba(0, 0, 0, 0.4);
}
.gallery-name {
    color: var(--textcolour2);
}
.fa-home {}
.block.frag i {
    font-size: 22px;
}
.fa-long-arrow-up::before {
    content: "\f0d8";
}
.block.frag .plus-frag {
    height: auto;
    min-height: 22px;
}
.block.frag .minus-frag {
    height: auto;
    min-height: 22px;
}
.fa-long-arrow-down::before {
    content: "\f0d7";
}
.block.frag .minus-frag i {
    top: 0;
}
.frag-container {
    margin-top: 0px !important;
    margin-right: 10px;
}
.frag-count {
    font-size: 11px !important;
    line-height: 1;
    margin-top: -7px !important;
}
.plus-frag.clicked i {
    color: var(--upvote);
}
.minus-frag.clicked i {
    color: var(--downvote);
}
.block.frag.minused .frag-count {
    color: var(--textcolour);
}
.block.frag.plused .frag-count {
    color: var(--textcolour);
}
}
