@-moz-document domain("teamfortress.tv") {
html {
    font-family: sans-serif;
}
html,
body {
    font-family: 'Roboto', sans-serif;
    background-color: #c6c6c6;
    background: #c6c6c6;
    color: #fff;
}
a {
    font-size: 13px;
    font-style: normal;
}
.module {
    border: 0;
    background: #fff0;
}
div #content {
    font-family: 'Roboto', sans-serif;
    background-color: #c6c6c6;
    background: #c6c6c6 !important;
    color: #333;
    border: 0;
}
#wrapper {
    background-color: #dadadc;
    background: #dadadc !important;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
a.main-feature {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
.header {
    background: #363636;
    background-color: #363636;
}
div.header-nav-item {
    padding-top: 6px;
}
.header-nav-container {
    background: #363636;
    background-color: #363636;
    height: 50px;
}
.header-nav-container-inner {
    height: 50px;
}
.header-nav-item {
    height: 50px;
    padding: 0px 15px;
}
.header-nav {
    height: 50px;
    width: 1198px;
    margin-left: -1px;
}
.header-banner {
    height: 0;
}
.header-nav-item-wrapper::before {
    height: 51px;
}
.header-nav-item-wrapper.mod-last::after {
    height: 51px;
}
i.fa.fa-home {
    width: 220px;
    height: 40px;
    color: #d9414100;
    text-shadow: 0 0 0 #0000;
    background: url(https://raw.githubusercontent.com/fakemanoan/TFTV-Stylus-Theme/main/tftv.svg) no-repeat;
    background-size: 100% 100%;
    padding-top: 15px;
    margin-top: -3px;
}
.header-logo {
    height: 0;
}
div#content {
    background-color: #dadadc;
    background: #dadadc !important;
    padding: 0;
}
tr {

    background: white;
}
.server-table td {
    font-size: 11px;
}
td {
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
#main-feature img {
    width: 88%;
    height: 88%;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
#main-feature-caption {
    width: 88%;
    margin-top: -60px;
    height: 61px;
    position: absolute;
    background: #00000091;
}
#main-feature-title-wrapper {
    color: white;
    font-size: 18px;
    text-shadow: -1px 0px 3px #000000d1,
    1px 0px 3px #000000d1,
    1px 0px 3px #000000d1,
    -1px 0px 3px #000000d1;
}
#main-feature-desc {
    color: white;
    text-shadow: -1px 0px 2px #000000d1,
    1px 0px 2px #000000d1,
    1px 0px 2px #000000d1,
    -1px 0px 2px #000000d1;
}
#main-feature-mask {
    width: 88%;
    height: 88%;
}
.sub-feature-caption {

    height: 90px;
    width: 270px;
    margin-left: 158px;
    padding: 20px;
    font-weight: normal;
    margin-top: -89px;
}
.sub-feature-title {
    font-size: 15px;
    height: 0px;
    white-space: normal;
}
.sub-feature-mask {
    right: -154px;
    top: 14px;
}
.sub-feature {
    text-align: left;
    float: none;
}
.sub-feature.first {
    margin-left: 5px;
}
#article-list ul {}
#article-list li {
    height: 50px;
}
div#article-list {
    width: 325px;
    height: 554px;
    right: 0px;
    position: absolute;
    background: #fff;
}
span.news-item-title {
    font-weight: 600;
}
span.news-item-txt-container {
    width: 251px;
    height: 50px
}
span.news-item-meta {}
span.news-item-count-num {
    color: #000;
    font-weight: normal;
}
span.news-item-count {
    float: right;
    margin: 0;
    background: #0000;
}
a.module-item.mod-featured {
    background: #fff;
    border-left: solid 3px #3e92da!important
}
a.stream-box {}
.module-header {
    background: #0000 !important;
    background-color: #0000 !important;
    height: 30px;
    text-align: left;
    padding-left: 3px;
    border: 0;
    box-shadow: 0 0 0 0;
}
#h-s-header {
    background: #333;
    box-shadow: 0 0 2px rgba(0, 0, 0, 0.22);
}
.module-filter-menu {
    line-height: 14px;
    font-size: 15px;
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
}
a.module-header {
    color: #333;
    font-size: 12px;
}
a.module-item {
    line-height: 22px;
    background: #eaeaea;
    box-shadow: 0px 1px 1px 1px rgba(0, 0, 0, 0.4);
}
.module-item.mod-last {
    border-radius: 0;
}

div#thread-list {
    width: 760px;
    background: #fff;
    padding: 0px 5px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
    border: 0
}
div.thread-inner {
    border-top: 1px solid #ccc;
}
div.thread {
    height: 50px;
    margin-bottom: 2px;
    font-family: 'Roboto', sans-serif;
    font-size: 12px;
}
div.blockr.pages {
    font-size: 12px;
    width: 150px;
    border: 0;
    margin-top: 5px
}
div.blockr.last-info {
    font-size: 12px;
    border: 0;
    margin-top: 5px;
    padding-right: 6px;
    width: 130px;
}
div.post-body {
    background: #fff;
}
div.post-footer {
    background: #fff;
}
.btn,
a.btn {
    font-weight: 100;
    border-radius: 0;
}
div.post {
    background: #fff;
}
.list-table th {
    background: #2e506b;
    font-size: 12px;
}
table.list-table {
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
div.forum-container {
    background: white;
    width: 100%;
    margin-left: 0;
    padding: 8px;
    padding-bottom: 3px;
    border-radius: 3px 3px 3px 3px;
    box-shadow: 0 0 6px rgba(0, 0, 0, 0.22);
}
div.subforum {
    margin: 7px;
    height: 50px;
    margin-bottom: 10px;
    border-top: 1px solid #ccc;
    font-size: 12px;
}
a.subforum-title {
    font-size: 14px;
}
div.blockr.last-info {
    width: 140px;
    padding-top: 4px;
}
span.js-date-toggle {
    padding-top: 2px;
}
div.subforum.first {
    margin-top: 2px;
}
input[type="text"],
input[type="search"],
select,
textarea {
    margin-bottom: 0;
}
span.module-item-flag {
    margin-top: 7px;
}
span.module-item-title {
    font-size: 11px;
    color: #444;
}

.card {
    background: #fff;
}
span.module-item-icon {
    margin-top: 7px;
}
span.module-item-status {
    margin-top: 7px;
}
div.post-header {
    background: #eeeeee;
}
div.post {
    border: 0;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    margin-bottom: 10px;
}
div#thread-container {
    border: 0;
}
div#article-wrapper {
    background: #fff;
    box-shadow: 0px 1px 4px 0px rgba(0, 0, 0, 0.4);
    padding-top: 1px;
}
.thread-header-desc a {
    font-weight: 500;
}
div.thread-header {
    background: #fff;
    margin: 0;
    margin-top: 20px;
    margin-bottom: 20px;
    padding: 20px;
    padding-left: 30px;
    height: 80px;
    box-shadow: 0 1px 3px -1px rgba(0, 0, 0, 0.4);
}
.clearfix {
    padding-bottom: 5px;
}
.block.main {
    padding-top: 2px;
}
.block.main .title {
    font-family: 'Roboto', sans-serif;
    font-size: 14px;
}
.block.frag {
    margin-top: 5px;
}
.module-item-count {
    font-size: 12px;
}
.fa-home {}
}
